<form action="">
    <label for="">Origen del Gasto</label>
    <input type="text">
    <label for="">Fecha</label>
    <input type="date">
    <label for="">Valor</label>
    <input type="number">
    <label for="">Descripcion</label>
    <input type="text">
    <label for="">Categoria</label>
    <select name="TipGasto" id="TipGasto">
        <option value="Transferencia o Retiro">Transferencia o Retiro</option>
        <option value="Prestamos">Prestamos</option>
        <option value="Compras">Compras</option>
        <option value="Renta">Renta</option>
        <option value="Deuda">Deuda</option>
        <option value="Servicios">Servicios</option>
        <option value="Entretenimiento">Entretenimiento</option>
        <option value="Transporte">Transporte</option>
    </select>
    <input type="submit" value="Agregar">
</form>

