<form action="">
    <label for="">Origen del Gasto</label>
    <input type="text">
    <label for="">Fecha</label>
    <input type="date">
    <label for="">Valor</label>
    <input type="number">
    <label for="">Descripcion</label>
    <input type="text">
    <label for="">Categoria</label>
    <select name="TipGasto" id="TipGasto">
        <option value="">Transferencia o Retiro</option>
        <option value="">Prestamos</option>
        <option value="">Compras</option>
        <option value="">Renta</option>
        <option value="">Deuda</option>
        <option value="">Servicios</option>
        <option value="">Entretenimiento</option>
        <option value="">Transporte</option>
        <option value="">05/2024</option>
    </select>
    <input type="submit" value="Agregar">
</form>