<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="Estilos/gastos.css" ref = "stylesheet" type = "text/css">
    <title>Gestor Financiero</title>
</head>
<body>
    <heading> 
        <h1>Gestor Financiero</h1>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="Login.html">Mis gastos</a></li>
                <li><a href="Login.html">Mis Ingresos</a></li>
            </ul>
        </nav>
    </heading>
    <main> 
        <h2>Gastos</h2>
            <form action="">
                <label for="">Nombre</label>
                <input type="text">
                <label for="">Fecha</label>
                <input type="date">
                <label for="">Monto</label>
                <input type="number">
                <label for="">Descripcion</label>
                <input type="text">
                <input type="submit" value="Agregar">
            </form> 
    </main>
    <footer>
        
    </footer>
</body>
</html>