<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Styles.css')}}">
    <title>Gestor Financiero</title>

</head>
<body>
    <heading> 
        <h1>Gestor Financiero</h1>
        <br>
        {% include 'blocks/barra_navegacion.html' %}
    </heading>
    <main>
        <br>
        <h2>Gastos</h2>
        <br>
        <button> Crear </button>
        <br>
        <br>

        <table>
            <thead>
                <tr>
                    <th>Origen del Gasto</th>
                    <th>Valor</th>
                    <th>Fecha</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                {% for gasto in gastos %}
                    <tr>
                        <td>{{ gasto.origen }}</td>
                        <td>{{ gasto.valor }}</td>
                        <td>{{ gasto.fecha }}</td>
                        <td>{{ gasto.categoria }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <button>siguiente</button>
    </main>
    <br>
    <footer>
        ©️ Gestor de Finanzas by Juan Diego Pineda Garcia - Kevin Andres Fuentes Lopez
    </footer>
</body>
</html>