<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Styles.css')}}">
    <title>Gestor Financiero</title>

</head>
<body>
    <div class="container">  
    <heading> 
        <h1>Gestor Financiero</h1>
        <br>
        {% include 'blocks/barra_navegacion.html' %}
    </heading>
    <main>
        <br>
        <div class="imggastos">
        <h2 class="Gastos">Gastos</h2>
        <img src=> #poner ruta de la imagen descargada y buscar como ubicarla al lado del titulo
        </div>
        <br>
        <button class="boton">Crear</button>
        <br>
        <br>
        <table>
            <tr>
                <th>Origen del Gasto</th>
                <th>Valor</th>
                <th>Fecha</th>
                <th>Categoria</th>
            </tr>
            <tr>
                <td><input placeholder="Origen" class="input" type="text" /></td>
                <td><input placeholder="$$$$$$$$$" class="input" type="text" /></td>
                <td><input placeholder="DD/MM/AAAA" class="input" type="text" /></td>
                <td><input placeholder="Categoria" class="input" type="text" /></td>
            </tr>
        </table>
        <br>
        <button class="boton">Siguiente</button>
    </main>
    <br>
    <footer>
        ©️ Gestor de Finanzas by Juan Diego Pineda Garcia - Kevin Andres Fuentes Lopez
    </footer>
</div>
</body>
</html>