<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <title>Gestor Financiero</title>
</head>
<body>
    <heading > 
        <h1>Gestor Financiero</h1>
    </heading>
    <br>
    <main>
        {% include 'blocks/barra_navegacion.html' %}
        <br>
        <h2>Bienvenido!</h2>  
        <br>  
            <table>
                <tr>
                    <th>Ingresos Totales</th>
                    <th>Gastos Totales</th>
                    <th>Dinero Restante</th>
                    <th>Fecha</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
            </table>
        <br>
            
    </main>
    <br>
    <footer>
        ©️ Gestor de Finanzas by Juan Diego Pineda Garcia - Kevin Andres Fuentes Lopez
    </footer>
</body>
</html>