<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Styles.css')}}">
    <title>Gestor Financiero</title>
</head>
<body>
    <heading > 
        <h1>Gestor Financiero</h1>
    </heading>
    <br>
    <main>
        {% include 'blocks/barra_navegacion.html' %}
        <br>
        <h2>Bienvenido!</h2>  
        <br>  

            <table>
                <thead>
                    <tr>
                        <th>Ingresos Totales</th>
                        <th>Gastos Totales</th>
                        <th>Dinero Restante</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mes_año, datos in resultado_final.items() %}
                    <tr>
                        <td>{{ datos.ingresos_totales }}</td>
                        <td>{{ datos.gastos_totales }}</td>
                        <td>{{ datos.dinero_restante }}</td>
                        <td>{{ mes_año }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <br>
            
    </main>
    <br>
    <footer>
        ©️ Gestor de Finanzas by Juan Diego Pineda Garcia - Kevin Andres Fuentes Lopez
    </footer>
</body>
</html>