<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/ingresos.css')}}">
    <title>Gestor Financiero</title>
</head>
<body>
    <heading> 
        <h1>Gestor Financiero</h1>
        <br>
        {% include 'blocks/barra_navegacion.html' %}
    </heading>
    <main>
        <br>
        <h2>Ingresos</h2>
        <br>
        <button id = "crear">Crear</button>
        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Fuente de Ingreso</th>
                    <th>Valor</th>
                    <th>fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for  in  %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <button>Sigiuente</button>
    </main>
    <br>
    <footer>
        
        ©️ Gestor de Finanzas by Juan Diego Pineda Garcia - Kevin Andres Fuentes Lopez
    </footer>
</body>
</html>