<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Styles.css')}}">
    <title>Gestor Financiero</title>
</head>
<body>
    <heading> 
        <h1>Gestor Financiero</h1>
        <br>
        {% include 'blocks/barra_navegacion.html' %}
    </heading>
    <main>
        <br>
        <h2>Ingresos</h2>
        <br>
        <button><a href="{{url_for('crear_ingresos')}}"> Crear </a></button>

        <button class="boton">Crear</button>

        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Fuente de Ingreso</th>
                    <th>Valor</th>
                    <th>fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for key in keys%}
                <tr>
                    <td>{{key}}</td>
                    <td>{{ ingre[loop.index0].fuente_ingreso }}</td>
                    <td>{{ ingre[loop.index0].valor_ingreso }}</td>
                    <td>{{ ingre[loop.index0].fecha_ingreso }}</td>
                    <td><a href="{{url_for('actualizar_ingresos', codigo = key )}}">editar</a>
                        <a href="{{url_for('eliminar_ingresos', codigo = key )}}">eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>

    </main>
    <br>
    <footer>
        
        ©️ Gestor de Finanzas by Juan Diego Pineda Garcia - Kevin Andres Fuentes Lopez
    </footer>
</body>
</html>